
body {
    background: #641936;
    font-family: Arial;
}
h1 {
    color: red;
}
/* EFdzjATK1u7u9rroQhbPTehyubCh72gECFqPofK4sWVbSkTymms7gUfwb0wCq0ZUGIjrEaREXGQ4uN1MisveAqSSDpoUYXhZKqOXBEQpStiafGlsD5hIWNF2VRDNYKZ2AQGKrgvxZQAN03WrhdaD6VTJJNayUbOVPWXPCUrXFPRUAoNFuPcVyKLomMBUrLHCdh2UNwWr */
